@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');

.login-container {
  padding: 20px;
  margin-top: 60px; 
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000000;
  color: #37474F; 
  border: 1px solid #607D8B; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Merriweather', serif;
}

.login-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff; 
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  color: #607D8B; 
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #607D8B; 
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #FFFFFF; 
  color: #37474F; 
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #d49c45; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #d49c45; 
}

.message {
  margin-top: 20px;
  font-size: 18px;
  color: #37474F; 
}
