@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');

.record-container {
  padding: 20px;
  margin-top: 60px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000000;
  color: #37474F;
  border: 2px solid #2c2c2c;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Merriweather', serif;
}

.record-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
}

.record-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #607D8B;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.record-details {
  text-align: left;
  padding: 10px 20px;
}

.record-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
}

.record-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.record-details p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #d49c45;
}

.record-details button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #00796B;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.record-details button:hover {
  background-color: #005b4f;
}

.record-details button:disabled {
  background-color: #B0BEC5;
  cursor: not-allowed;
}

/* Media Queries */
@media (max-width: 1200px) {
  .record-container {
    padding: 15px;
    max-width: 700px;
  }

  .record-container h1 {
    font-size: 32px;
  }

  .record-image {
    max-width: 350px;
  }

  .record-details h2 {
    font-size: 22px;
  }

  .record-details p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .record-container {
    padding: 10px;
    max-width: 500px;
  }

  .record-container h1 {
    font-size: 28px;
  }

  .record-image {
    max-width: 300px;
  }

  .record-details h2 {
    font-size: 20px;
  }

  .record-details p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .record-container {
    padding: 5px;
    max-width: 90%;
  }

  .record-container h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .record-image {
    max-width: 250px;
  }

  .record-details h2 {
    font-size: 18px;
  }

  .record-details p {
    font-size: 12px;
  }
}





  