@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');

.success-container {
  padding: 20px;
  margin-top: 60px; 
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #000000; 
  color: #37474F; 
  border: 2px solid #2c2c2c; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Merriweather', serif;
}

.success-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff; 
}

.success-container p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #d49c45;
}

.purchased-items {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.purchased-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #607D8B; 
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ECEFF1; 
}

.purchased-item span {
  font-size: 18px;
  color: #37474F; 
}

.total-cost {
  font-size: 24px;
  color: #d49c45; 
  font-weight: bold;
}
